# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# VS Code / dev
.vscode/
.devcontainer/

# OS
.DS_Store
Thumbs.db

# Streamlit secrets فقط
.streamlit/secrets.toml
secrets.toml

# Firebase secret key فقط
serviceAccountKey.json

# ملفات محلية لا نريد رفعها
test.py
create_admin.py