# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Streamlit secrets
.streamlit/

# Firebase keys
serviceAccountKey.json
*.json

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# local helper files
py
pillow
where
streamlit

# secrets
secrets.toml
serviceAccountKey.json

# python cache / env
__pycache__/
.venv/
.vscode/
.devcontainer/